*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

#app {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
}

[type="text"],
button {
  display: inline-block;
  appearance: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 0 0.5rem;
}

[type="text"] {
  width: 100%;
}

[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type="checkbox"] {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  color: #fff;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}

li p {
  display: inline-block;
  padding: 0.5rem;
  width: 250px;
  border-radius: 4px;
  border: 2px solid transparent;
}

li p:hover {
  background: rgb(179 215 255 / 52%);
}

li p:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: rgb(179 207 255 / 52%);
}

.is-completed {
  text-decoration: line-through;
}

.is-default-message {
  color: white;
}
